body {
    margin: 0;
    padding: 0;

    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;

    background-color: #f2f2f2;
}

a {text-decoration: none}
img { max-width: 100% }

.feedback { color: black }
.feedback ul { list-style: none }
.feedback p { margin-bottom: 0 }

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
    font: inherit;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border: none;      
} 

.blue-button {
    background-color: #81b3d2;   
}
.blue-button:hover {
    background-color: #699ec0;
} 
.blue-button:active {
    background-color: #5496bd;
    color: #88b6d1;
}
.brown-button {
    background-color: #766357;  
}
.brown-button:hover {
    background-color: #604e43;
} 
.brown-button:active {
    background-color: #503e33;
    color: #857871;
}

.container {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);    
}

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    font-weight: 700;
    
    background-color: #ffffff;
}

.site-navigation {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 14px 73px 16px 73px;    
}

.site-navigation li {
    width: 25%; 
    padding-right: 10px;  
    
}

.site-navigation li:nth-child(2) {
    text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4n),
.site-navigation li:nth-child(3n+4) {
    text-align: right;
}

 {
    text-align: right;
}

.site-navigation li:nth-child(4n) {
    padding: 0;
}
.main-header {
    position: relative;
}

.main-header-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 140;
    height: 71;
    z-index: 10;
}

a.link {
    display: block;
    color: #000000;
    /* max-width: 300px; */
    
}

a.link:hover {
    color: #81b3d2;
}

a.link:active {
    color: #b2b2b2;
}

a.active {
    color: #766357;
}

.welcome {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center; 
    position: relative; 
}

.welcome p {
    padding: 0;
    margin: 75px 0 82px 0;    
}

.welcome::after {
    content: "";
    position: absolute;
    width: 1200px;
    height: 57px;
    bottom: 0;
    left: 0;
    
    background-color: transparent;
    background-image: url("../img/polygon.svg");
    background-repeat: no-repeat;    
}

.features {
    display: flex;
    flex-direction: column;
}

.features-head {
    line-height: 26px;
    text-align: center;

    background-color: #ffffff;
    padding: 60px 310px 51px 310px;
}
.features-head strong {
    font-size: 21px;
    margin: 0;   
    margin-bottom: 27px;
    display: block;
}

.features-head p {
    margin: 0;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    list-style: none;
}

.feature {
    width: 400px;
    padding-top: 47px;
    padding-bottom: 37px;
    padding-left: 45px;
    padding-right: 45px;  
    margin: 0; 
}

.features-of-city-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.features-item {    
    line-height: 21px;  
    text-align: center;
}

.feature h3,
.features-of-city-item h4 {
    font-size: 21px;
    width: 151px;     
    margin: 0 auto;
    margin-bottom: 23px;
}

.devils-bridge-feature,
.city-feature  {
    color: #ffffff;
    background-color: #81b3d2;
}
.features-of-city-list {
    background-color: #ffffff;

}

.feature p,
.features-of-city-item p {
    padding: 0;
    margin: 0;
    margin-bottom: 22px; 
}

.features-item img {
    display: block;
    padding: 0;
    margin: 0;
}
p.image-feature {
    padding: 0;
    margin: 0;
}

.city {
    display: flex;
    padding: 0;
    margin: 0;
}

.features-of-city-item {
    width: 400px;
    padding: 161px 45px 61px 45px; 
    position: relative;   
}
.features-of-city-item::before {
    content: "";
    position: absolute;
    height: 76px;
    width: 76px;
    top: 58px;
    left: 162px;   
    background-color: transparent;
    background-image: url("../img/icon-1.svg");
    background-repeat: no-repeat;    
}

.food::before {
    background-image: url("../img/icon-3.svg");    
    width: 74px;
}
.souvenirs::before {
    background-image: url("../img/icon-2.svg");
    width: 64px;    
}

.features-item-bridge {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
    margin: 0;
}
.appointment {
    position: relative;
    z-index: 20;
}
.appointment-info {
    background-color: #ffffff;
    text-align: center;
    padding-top: 50px;
    
}
.appointment strong {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
}
.appointment-info p{
    line-height: 24px;width: 438px;
    margin: 0 auto;
    margin-bottom: 28px;
}

.open-form {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    display: inline-block;
    width: 568px;
    padding: 30px 134px;
}
@keyframes bounce {
    0% {transform: translateY(-86px)}
    50% {transform: translateY(-43px)}
    100% {transform: translateY(0)}
}
@keyframes shake {
    0%,
    100% {
        transform: translateX(0)
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        transform: translateX(10px)
    }
}
.modal-appointment-form {
    
    display: none;
    position: absolute;
    z-index: 10;
    left: 316px;
}

.appointment-form {
    background-color: #ffffff;
    width: 568px;
    margin: 0 auto;
    padding: 55px;
    
    

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
} 

.modal-show {
   display: block;
   animation: bounce 0.5s;
   
}
.modal-error {
    animation: shake 0.5s;
}
.appointment-item {
    position: relative;
    line-height: 26px;
    font-weight: 700;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    display: flex;
}

.appointment-item input {
    display: inline-block;
    width: 344px;
    padding: 4px;
}

 .appointment-item input[type="text"] {
    background-color: #f2f2f2;

    color: #000000;
    font: inherit;
    text-transform: uppercase;
    line-height: 26px;
    font-weight: 700;
    border: 2px solid #f2f2f2; 
    outline-color: transparent;   
}

.appointment-item input:hover,
.appointment-item input:focus {

    background-color: #ebebeb; 
}

.appointment-item input:active {
    background-color: #ffffff;
    border-color: #e5e5e5;
}

button.search {
    font-size: 21px;
    line-height: 26px;
}

.appointment-item-adults input,
.appointment-item-children input {
    width: 115px;
    padding-left: 38px;
    padding-right: 38px;
    text-align: center;
    position: relative;
    outline-color: transparent;
}


.calendar {
    position: absolute;
    
    width: 38px;
    height: 38px;
    right: 0px;    

    display: flex;
    justify-content: center;
    align-items: center;
    fill: #b2b2b2;
    outline-color: transparent;
    background-color: transparent;
}

.calendar:hover,
.calendar:focus {
    fill: black;
    background-color: transparent;
    cursor:pointer;
}

.calendar:active {
    fill: #81b3d2; 
    background-color: transparent;
    cursor:pointer;
}

button.minus {
    position: absolute;
   
    width: 38px;
    height: 38px;
    left: 114px;
    z-index: 10;
    cursor:pointer;
    outline-color: transparent; 
    background-color:  transparent; 
}

button.minus::after{
    content: "";
    position: absolute;
    width: 12px;
    height: 3px;
    background-color: #b2b2b2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button.plus {
    position: absolute;    
    width: 38px;
    height: 38px;
    left: 191px;   
    outline: none;
    cursor: pointer;
    background-color:  transparent;
}   

button.plus::after{
    content: "";
    position: absolute;
    width: 12px;
    height: 3px;
    top: 50%;
    left: 50%;
    background-color: #b2b2b2;
    transform: translate(-50%, -50%);
}
button.plus::before{
    content: "";
    position: absolute;
    width: 3px;
    height: 12px;
    top: 50%;
    left: 50%;
    background-color: #b2b2b2;
    transform: translateX(-50%) translateY(-50%);
}

button.plus:hover::after,
button.plus:hover::before,
button.minus:hover::after,
button.plus:focus::after,
button.plus:focus::before,
button.minus:focus::after {
    background-color: black;
}

button.plus:active::after,
button.plus:active::before,
button.minus:active::after {
    background-color: #81b3d2; 
}

.appointment-item label {
    width: 114px;
    display: inline-block; 
    padding: 6px 0;   
}

.appointment-item-children label {
    padding-right: 27px;
    text-align: right;
}

button.search {
    width: 458px;
    padding: 16px;
    text-align: center; 
    margin-top: 24px;
    cursor: pointer;     
}

.map {
    padding: 0;
    margin: 0;
    position: relative;
}
.map p {
    padding: 0;
    margin: 0;
}

.filter {
    display: flex;    
    padding: 27px 73px 31px 73px;
}

.filter-column {
    width: 240px;
    padding: 0;
    margin: 0;
}

.filter-column legend {
    margin-bottom: 23px;
}
.filter ul {
    padding: 0;
    margin: 0;
}

.filter fieldset {
    border: none;
}

.filters {
    background-image: url("../img/filter background.jpg");
    background-repeat: no-repeat;
}

.filter legend {
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
}

.filter-option {
    color: #ffffff;
    list-style: none;
    margin-bottom: 23px;
    padding-left: 40px;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
  
    width: 23px;
    height: 23px;
    left:-40px;
    top: 0;
    background-image: url("../img/checkbox-off.svg");    
  }

.filter-input-checkbox:checked + label::after{
    content: "";
    position: absolute;
  
    width: 27px;
    height: 23px;
    left:-40px;
    top: 0;
    
    background-image: url("../img/checkbox-on.svg")
}
.filter-input-checkbox-disabled + label::before {
    content: "";
    position: absolute;
  
    width: 23px;
    height: 23px;
    left:-40px;
    top: 0;
    background-image: url("../img/checkbox-off-blocked.svg");   
  }

.filter-input-checkbox-disabled:checked + label::after{
    content: "";
    position: absolute;
  
    width: 27px;
    height: 23px;
    left:-40px;
    top: 0;
    
    background-image: url("../img/checkbox-on-blocked.svg")
}
.price-column {
    width: 318px;
    padding: 0;
    margin: 0;
    margin-left: auto;   
}

.price-controls {
    position: relative;
    color: #ffffff;
    height: 36px;
    margin-bottom: 20px;
    font-size: 0;

    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
      
    width: 2px;
    height: 22px;
    top: 50%;
    left: 50%;
  
    background: #ffffff;
    transform: translate(-50%, -50%);

  }

.filter-range-title {
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 9px;
  }


.price-controls label {
    box-sizing:  content-box;
    display: inline-block;
  
    font-size: 14px;
    line-height: 32px;
    vertical-align: bottom;
  
    cursor: pointer;
  }
  .price-controls .min-price,
  .price-controls .max-price   {
    width: 90px;
    padding-left: 65px;
}

.price-controls input {
  width: 50px;
  height: 32px;
  margin: 0;
  padding-left: 4px;
  line-height: 32px;

  color: #ffffff; 

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
    position: relative;
  
    margin-bottom: 32px;
  }
.range-controls .scale {
    height: 2px;
  
    background: rgba(255, 255, 255, 0.3);
  }
  
.range-controls .bar {
    width: 80%;
    height: 2px;
  
    background: #ffffff;
  }  

.toggle {
    position: absolute;
    top: -9px;
    width: 20px;
    height: 20px;
  
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}  

.toggle:hover {
    width: 22px;
    height: 22px;
    border: 9px solid #ffffff;
}

.toggle-min {
    left: 0;
}
  
.toggle-max {
    left: 80%;
}

.price-column button.btn-transparent {
    width: 137px;
    margin-right: 96px;
    margin-left: 85px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2px;
    cursor: pointer;
    background-color: transparent;             
    border: 2px solid #ffffff;
    font-weight: 400; 
}

.results {
    display: flex;
    margin: 0;
    padding: 30px 73px;
    background-color: #fefefe;
    border-bottom: 1px solid #e5e5e5;
}

.find{
    line-height: 26px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    width: 164px;
    text-align: left;
}

.sorting {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    

}
.results h4 {
    margin: 0;
    padding: 0;
    font-weight: 400;
    padding-right: 40px;

}
.sorting-list {  
    
    list-style: none;
    margin: 0;
    padding: 0;
}

.sorting-option {
    display: inline-block;
    font-size: 12px;
    line-height: 18px;
    color: #cacaca;
    padding-right: 33px;
}
.sorting-option a{
    color: #cacaca;
    border-bottom: 1px dotted #81b3d2;
}

.sorting-option a:hover,
.sorting-option a:focus{
    color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
}

.sorting-option a:active{
    color: black;
    border-bottom: none;
}

.sorting-option a.active  {
    color: #81b3d2;
    border-bottom: none;
}

.filter button:hover {
    background-color: #ffffff;
    color: #000000;
}

.filter-option label {
    position: relative;  
    display: block; 
    cursor: pointer;
  user-select: none;
     
}

.results .icons {
    display: flex;
    width:48px;
    padding: 0;
    margin: 0;
    margin-left: auto;  
}

.icon-down,
.icon-up {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline-color: transparent; 
}
.icon-down.active path,
.icon-up.active path{
    fill: #81b3d2;
}

.icon-down path,
.icon-up path {
    fill: #cacaca;    
}
.icon-down:hover path,
.icon-up:hover path
 {
    fill: #231f20;    
}

.icon-down:active path,
.icon-up:active path, 
.icon-down:focus path,
.icon-up:focus path {
    fill: #81b3d2; 
    
}


.catalog-list {   
    padding: 0;
    margin: 0;
  
    list-style: none;
}

.catalog-item {
    background-color: #ffffff;
    list-style: none;

    display: flex;
    align-items: flex-end;
    padding-left: 73px;
    padding-right: 73px;
    padding-bottom: 30px;
    padding-top: 25px;
    border-bottom: 1px solid #e5e5e5;
}

.hotel-image  {
    margin: 0;
    margin-right: 30px;    
}

.hotel-image img{
    display: block;
    padding: 0;
    margin: 0;
}

.hotel-info h3 {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 6px;
} 

.hotel-info p {
    margin: 0;
    margin-bottom: 15px;
    width: 116px;
    display: inline-block;
}

.buttons .blue-button {
    display: inline-block;
    padding: 3px 19px 3px 17px;
    margin-right: 2px;
}
.buttons .brown-button {
    display: inline-block;
    padding: 3px 16px 3px 17px;
}

.hotel-rating {
    margin-left: auto;
    padding-top: 4px;    
}

.hotel-rating p {
    display: block;
    padding: 0;
    margin: 0;

}

p.stars {
    width: 90px;
    height: 16px;
    background-image: url("../img/stars.png");
    margin-bottom: 47px;
    margin-left: auto;
}

p.desert-stars {
    width: 65px;
}

p.villas-stars {
    width: 41px;
}


p.rating {
    padding: 2px 16px 3px 13px; 
    text-align: center;
    background-color: #f2f2f2;
}



.main-footer {
    background-color: #f9fbf6; 
    display: flex;
    align-items: center; 
}

.catalog-footer {
    background-color: #ffffff;
}

.main-footer-index {
    opacity: 0.9;  
    position: relative;
    z-index: 10;
    margin-top: -120px;  
}

.footer {
    width: 400px;
    text-align: center;

    padding: 0;
    margin: 0;    
}

.footer-link a {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}
.footer-social {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 150px;
}

.footer-copyright p {
    line-height: 26px;
    margin: 0 8px;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    margin: 36px 0;    
}

.social-button:active path{
    fill: #88b6d1;

}
.footer-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.footer-copyright a  {
    width: 115px;
    height: 41px;    
}

.footer-copyright a svg{
    fill: black;
}

.footer-copyright a:hover svg {
    fill: #81b3d2;
}

.footer-copyright a:active svg {
    fill: #b2b2b2;
}







